<% layout("../layouts/boilerplate") %>

<div class="container">
    <h1 class="mb-5">Saved Mines</h1>

        <div>
            <% for(let m of mines) {%>
                <div class="card mb-4">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="<%= m.image%>" class="img-fluid rounded-start ratio ratio-4x3" alt="Error">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h3 class="card-title"><%= m.name %></h3>
                          <p class="card-text text-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                            </svg>
                            <% if(m.district === "---Select Your District---") {%>
                                Not Assigned,
                            <% } else { %>
                                <%= m.district %>,
                            <% } %>
    
                            <% if(m.state === "---Select Your State---") {%>
                                Not Assigned
                            <% } else { %>
                                <%= m.state %>
                            <% } %>
                        </p>
                          
                          <a href="/index/<%=m._id%>" class="stretched-link"></a>
                        </div>
                        <div class="card-footer">
                          <p class="text-success">Carbon Footprint: <%= m.result.totalFootprint %> tCO<sub>2e</sub></p>
                        </div>
                      </div>
                    </div>
                    
                  </div>
            <% } %>
        </div>
</div>

<style>
  body {
    background-image: url("https://img.freepik.com/free-vector/white-with-low-poly-network-connection_1017-29753.jpg?t=st=1725306260~exp=1725309860~hmac=8888afcd8736d0fa759e5a40bcebee93b796c6ee6555eff330a2c2418c2d8107&w=826");
    background-size: cover;
  }

  .container {
      padding: 30px;
  }

  h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 40px;
      text-align: center;
  }

  /* Card Styles */
  .card {
      border: none;
      border-radius: 10px;
      overflow: hidden;
      transition: 0.3s ease;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      background-color: #f9f9f9;
  }

  .card-img-top {
      border-bottom: 2px solid #f39c12;
  }

  .card-body {
      padding: 20px;
  }

  .card-title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 15px;
  }

  .card-text {
      font-size: 1rem;
      color: #666;
  }

  .card-footer {
      background-color: #f4f4f4;
      padding: 15px;
      border-top: 1px solid #ddd;
  }

  .text-success {
      color: #28a745;
      font-weight: bold;
  }

  .ratio-4x3 {
      aspect-ratio: 4 / 3;
      object-fit: cover;
  }

  svg {
      margin-bottom: 4px;
      vertical-align: middle;
  }
</style>