<% layout("../layouts/boilerplate") %>

<input type="number" id="deff" value="<%= mines.factors.fuelUse.dfueleff %>" hidden>
<input type="number" id="peff" value="<%= mines.factors.fuelUse.pfueleff %>" hidden>


<div class="container">
    <div class="row mt-4">
        <div class="col-12 col-md-6">
            <div class="card p-0 information">
              <h2 class="card-title text-center mb-4 mt-3"><b>Mine Information</b></h2>
                <div>
                    <img src="<%= mines.image %>" class="card-img-top" alt="">
                </div>
                <div class="card-body">
                  
                    <h3 class="card-title text-center text-dark"><%= mines.name%></h3>
                    <p class="card-text">
                        <%= mines.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-secondary loc">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                          </svg>
                            
                        <%  if(mines.district === "---Select Your District---") {%>
                            Not Assigned,
                        <% } else { %>
                            <%= mines.district %>,
                        <% } %>

                        <%  if(mines.state === "---Select Your State---") {%>
                            Not Assigned
                        <% } else { %>
                            <%= mines.state %>
                        <% } %>
                    </li>
                </ul>
                
            </div>
</div>
 
    <div class="col-12 col-md-6 mt-4 mt-md-0">
        <div class="card mb-3 footprintBox">
            
                <div class="card-body">
                  <h2 class="card-title text-center mb-3"><b>Footprint Analysis</b></h2>
                  <div>
                    <ul class="list-group list-group-flush">
                      <div class="row d-flex align-items-center border totalbox">
                        <div class="col-12 col-md-5 border-end">
                          <li class="list-group-item fs-3 border-0">Total Footprint: <input step="0.0001" type="number" class=" text-center" id="totalFootprint" value="<%= mines.result.totalFootprint %>" readonly></span> tCO<sub>2e</sub></li>
                        </div>
                        <div class="col-12 col-md-7">
                          <div id="totalChart"></div>
                        </div>
                      </div>

                      <!-- coal -->
                      <li class="list-group-item coalbox">
                        <div class="row d-flex align-items-center border">
                          <div class="col-12 col-md-5 p-0 border-end">
                            <div class="card border-0">
                              <div class="card-header fs-5">
                                Combustion FootPrint: <input step="0.0001" type="number" id="coalFootprint" value="<%= mines.result.coalFootprint %>" readonly> tCO<sub>2e</sub>
                              </div>
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                  Lignite: <input step="0.0001" type="number" id="lignite" value="<%= mines.factors.coalType.lignite %>" readonly> kg.
                                </li>
                                <li class="list-group-item">
                                  Sub-Bituminous: <input step="0.0001" type="number" id="subbitu" value="<%= mines.factors.coalType.subbitu %>" readonly> kg.
                                </li>
                                <li class="list-group-item">
                                  Bituminous: <input step="0.0001" type="number" id="bitu" value="<%= mines.factors.coalType.bitu %>" readonly> kg.
                                </li>
                                <li class="list-group-item">
                                  Anthracite: <input step="0.0001" type="number" id="anthra" value="<%= mines.factors.coalType.anthra %>" readonly> kg.
                                </li>
                                <li class="list-group-item text-center">
                                  Total Quantity: <%= mines.factors.coalType.anthra + mines.factors.coalType.bitu + mines.factors.coalType.subbitu + mines.factors.coalType.lignite%> kg.
                                </li>
                              </ul>
                          </div>
                          </div>
                          <div class="col-12 col-md-7">
                            <div  id="coalChart"></div>
                          </div>
                        </div>
                      </li>

                      <!-- electriccity -->

                      <li class="list-group-item elecbox">
                        <div class="card">
                            <div class="card-header fs-5">
                              Electricity FootPrint: <input step="0.0001" type="number" id="electricityFootprint" value="<%= mines.result.electricityFootprint %>" readonly> tCO<sub>2e</sub>
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">
                                Electricity Consumed: <input step="0.0001" type="number" id="electricityConsume" value="<%= mines.factors.electricityConsume %>" readonly> kWh.
                              </li>
                              <li class="list-group-item">
                                Emission Factor: <input step="0.0001" type="number" id="eFactor" value="<%= mines.factors.eFactor %>" readonly>.
                              </li>
                            </ul>
                        </div>
                      </li>

                      <!-- Transport -->
                      <li class="list-group-item transbox">
                        <li class="list-group-item">
                          <div class="card">
                              <div class="card-header fs-5">
                                Transport FootPrint: <input step="0.0001" type="number" id="transportFootprint" value="<%= mines.result.transportFootprint %>" readonly> tCO<sub>2e</sub>
                              </div>
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                  Distance travelled through Diesel: <input step="0.0001" type="number" id="ddistance" value="<%= mines.factors.fuelUse.ddistance %>" readonly> km.
                                </li>
                                <li class="list-group-item">
                                  Distance travelled through Petrol: <input step="0.0001" class="" type="number" id="pdistance" value="<%= mines.factors.fuelUse.pdistance %>" readonly> km.
                                </li>
                              </ul>
                          </div>
                        </li>
                      </li>

                      <!-- Deforestation -->
                      <li class="list-group-item deforestationbox">
                        <li class="list-group-item">
                          <div class="card">
                              <div class="card-header fs-5">
                                Deforestation FootPrint: <input step="0.0001" type="number" id="deforestationFootprint" value="<%= mines.result.deforestationFootprint %>" readonly> tCO<sub>2e</sub>
                              </div>
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                 Deforested Area: <input step="0.0001" type="number" id="deforestedArea" value="<%= mines.factors.deforestedArea %>" readonly>  hectares.
                                </li>
                                <li class="list-group-item d-inline">
                                 Carbon stock per hectare: <input step="0.0001" type="number" id="cStock" value="<%= mines.factors.cStock %>" readonly>.
                                </li>
                              </ul>
                          </div>
                        </li>
                      </li>


                    </ul>
                  </div>
                </div>
                
          </div>
    </div>
</div>

<div class="conatiner mt-4">
  <div class="row text-center">
    <div class="col">
      <a href="/index" class="card-link"><button class="btn btn-primary indicator">Go back</button></a>
    </div>
  
    <div class="col">
      <form action="/index/<%= mines._id%>?_method=DELETE" method="post" class="d-inline me-3">
        <button class="btn btn-danger indicator">Delete</button>
      </form>
    </div>
  
    <div class="col">
      <a href="/index/<%= mines._id%>/edit" class="me-3"><button class="btn btn-success indicator">Edit</button></a>
    </div>

    <div class="col">
      <a href="/index/<%= mines._id%>/suggestions" class="me-3"><button class="btn btn-warning indicator">Suggestions</button></a>
    </div>
  </div>
</div>

</div>




<style>
  body {
      background-color: #f4f4f4; /* Light gray background */
      color: #333; /* Dark text for readability */
      font-family: Arial, sans-serif;
  }

  .container {
      margin-top: 20px;
  }

  .card {
      border: none;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      background-color: #fff;
  }

  .card-img-top {
      max-height: 200px;
      object-fit: cover;
      border-bottom: 1px solid #ddd;
  }

  .card-body {
      padding: 20px;
  }

  .card-title {
      color: #f39c12; /* Accent color for titles */
      font-size: 2em;
      margin-bottom: 1em;
  }

  .card-text {
      font-size: 1em;
      line-height: 1.5;
  }

  .list-group-item {
      font-weight: bold;
      background-color: #fff;
      border: none;
      padding: 10px 15px;
  }

  .list-group-item svg {
      vertical-align: middle;
      margin-right: 5px;
  }

  .list-group-item input {
      background: transparent;
      border: none;
      font-weight: bold;
      color: #333;
      width: auto;
      display: inline-block;
  }

  .footprintBox {
      background-color: #fff;
      border: none;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .totalbox {
      border-bottom: 1px solid #ddd;
  }

  .btn {
      border-radius: 5px;
      font-weight: bold;
      padding: 10px 20px;
      margin: 5px;
      border: none;
  }

  .btn-primary {
      background-color: #f39c12;
      border-color: #f39c12;
      color: #fff;
  }

  .btn-primary:hover {
      background-color: #e67e22;
      border-color: #e67e22;
  }

  .btn-danger {
      background-color: #e74c3c;
      border-color: #e74c3c;
      color: #fff;
  }

  .btn-danger:hover {
      background-color: #c0392b;
      border-color: #c0392b;
  }

  .btn-success {
      background-color: #2ecc71;
      border-color: #2ecc71;
      color: #fff;
  }

  .btn-success:hover {
      background-color: #27ae60;
      border-color: #27ae60;
  }

  .btn-warning {
      background-color: #f1c40f;
      border-color: #f1c40f;
      color: #333;
  }

  .btn-warning:hover {
      background-color: #f39c12;
      border-color: #f39c12;
  }

  .indicator {
      width: 100%;
  }

  .row {
      margin-bottom: 20px;
  }

  #totalChart, #coalChart {
      width: 100%;
      height: 300px;
  }

  input {
    color: rgb(0, 148, 0);
    text-align: center;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: auto; /* Adjust width as necessary */
    display: inline-block; /* Ensure they don't stretch */
    margin: 0; /* Remove margins */
}

  .information, .loc, .footPrintBox {
      height: 100%;
  }

  .totalbox input {
      width: 100%;
  }

  .card-header {
      font-size: 1.25em;
      background-color: #f8f9fa;
      border-bottom: 1px solid #ddd;
      padding: 10px;
  }

  .card-body, .list-group-item {
    margin: 0;
    padding: 10px;
}
</style>


<script>
    const Bituminous = parseFloat(document.querySelector("#bitu").value) || 0;
    const Anthracite = parseFloat(document.querySelector("#anthra").value) || 0;
    const Lignite = parseFloat(document.querySelector("#lignite").value) || 0;
    const subBituminous = parseFloat(document.querySelector("#subbitu").value) || 0;
  
    const electricityConsume = parseFloat(document.querySelector("#electricityConsume").value) || 0;
    const eFactor = parseFloat(document.querySelector("#eFactor").value) || 0.716;
    const ddistance = parseFloat(document.querySelector("#ddistance").value) || 0;
    const pdistance = parseFloat(document.querySelector("#pdistance").value) || 0;
    const deff = parseFloat(document.querySelector("#deff").value) || 1;
    const peff = parseFloat(document.querySelector("#peff").value) || 1;
    const deforestedArea = parseFloat(document.querySelector("#deforestedArea").value) || 0;
    const cStock = parseFloat(document.querySelector("#cStock").value) || 150;
  
    // COMBUSTION CALCULATION
    let lpct = 0.30;
    let sbpct = 0.40;
    let bpct = 0.75;
    let apct = 0.90;
  
    let coalfootprint = (((lpct * Lignite) + (sbpct * subBituminous) + (bpct * Bituminous) + (apct * Anthracite))*3.67)/1000;
    coalf = coalfootprint.toFixed(4);
  
    // ELECTRICITY CALCULATION
    let elecFootprint = (eFactor * electricityConsume)/1000;
    elecf = elecFootprint.toFixed(4);
  
    //TRANSPORT CALCULATION
    let dieselFootprint = ((ddistance * (deff/100) * 2.67)/1000);
    let petrolFootprint = ((pdistance * (peff/100) * 2.31)/1000);
    let TransFootprint = dieselFootprint + petrolFootprint;
    transf = TransFootprint.toFixed(4);
  
    //DEFORESTATION CALCULATION
    let deforestationfootprint = (deforestedArea * cStock * 3.67)/1000;
    deforestf = deforestationfootprint.toFixed(4);
    updateTotalResult(coalfootprint,elecFootprint,TransFootprint,deforestationfootprint);
  
  function updateTotalResult(coalFootprint,elecFootprint,TransFootprint,deforestationFootprint)
   {
      total = coalFootprint + elecFootprint + TransFootprint + deforestationFootprint;
  
      document.getElementById('coalFootprint').value = coalFootprint.toFixed(4);
      document.getElementById('electricityFootprint').value = elecFootprint.toFixed(4);
      document.getElementById('transportFootprint').value = TransFootprint.toFixed(4);
      document.getElementById('deforestationFootprint').value = deforestationFootprint.toFixed(4);
      document.getElementById('totalFootprint').value = total.toFixed(4);
    }
  
  </script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  // Get the values from the elements
  let lignite = parseFloat(document.querySelector('#lignite').value) || 0;
  let subbitu = parseFloat(document.querySelector('#subbitu').value) || 0;
  let bitu = parseFloat(document.querySelector('#bitu').value) || 0;
  let anthra = parseFloat(document.querySelector('#anthra').value) || 0;
  // Load the Google Charts library
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    // Prepare the data
    var data = google.visualization.arrayToDataTable([
      ['Type of Coal', 'Quantity'],
      ['Lignite', lignite],
      ['Sub-Bituminous', subbitu],
      ['Bituminous', bitu],
      ['Anthracite', anthra]
    ]);

    // Set chart options
    var options = {
      title: 'Coal Types Distribution',
      is3D: true,
    };

    // Draw the chart
    var chart = new google.visualization.PieChart(document.getElementById('coalChart'));
    chart.draw(data, options);
  }
</script>

<script>
  let coalFootprint = parseFloat(document.querySelector('#coalFootprint').value) || 0;
  let electricityFootprint = parseFloat(document.querySelector('#electricityFootprint').value) || 0;
  let transportFootprint = parseFloat(document.querySelector('#transportFootprint').value) || 0;
  let deforestationFootprint = parseFloat(document.querySelector('#deforestationFootprint').value) || 0;
  // Load the Google Charts library
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    // Prepare the data
    var data = google.visualization.arrayToDataTable([
      ['Type of Coal', 'Quantity'],
      ['Combustion Footprint', coalFootprint],
      ['Electricity Footprint', electricityFootprint],
      ['Transport Footprint', transportFootprint],
      ['Deforestation Footprint', deforestationFootprint]
    ]);

    // Set chart options
    var options = {
      title: 'Carbon Footprint Distribution',
      is3D: true,
    };

    // Draw the chart
    var chart = new google.visualization.PieChart(document.getElementById('totalChart'));
    chart.draw(data, options);
  }

</script>


