<% layout("../layouts/boilerplate") %>



<a href="/index" class=""><div class="btn btn-primary goback">Go back</div></a>
<input type="number" id="deff" value="<%= mines.factors.fuelUse.dfueleff %>" hidden>
<input type="number" id="peff" value="<%= mines.factors.fuelUse.pfueleff %>" hidden>


<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
  
      <div class="container text-center">
        <div class="row mt-4 slidebox  d-flex align-items-center">
          <div class="col">
            <button class="btn infobtn btnactive">Information</button>
          </div>
          
    
          <div class="col border-start">
            <div class="col">
              <button class="btn anbtn">Analysis</button>
            </div>
          </div>
        </div>
      </div>
  
  
    </div>
  </div>
</div>





<div class="container">
    <div class="row mt-4">
        <div class="col-10 offset-1 information hidden">
            <div class="card p-0 ">
              <h2 class="card-title text-center mb-4 mt-3 mineinfo">Mine Information</h2>
                <div>
                    <img src="<%= mines.image %>" class="card-img-top" alt="">
                </div>
                <div class="card-body">
                  
                    <h3 class="card-title text-center"><%= mines.name%></h3>
                    <p class="card-text">
                        <%= mines.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-secondary loc">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                          </svg>
                            
                        <%  if(mines.district === "---Select Your District---") {%>
                            Not Assigned,
                        <% } else { %>
                            <%= mines.district %>,
                        <% } %>
                        <%  if(mines.state === "---Select Your State---") {%>
                            Not Assigned
                        <% } else { %>
                            <%= mines.state %>
                        <% } %>
                    </li>
                </ul>
                
            </div>
         </div>


 
    <div class="col-10 offset-1 footprintBox hidden">
        <div class="card mb-3 ">
            
          <div class="card-body">
            <h2 class="card-title text-center mb-3 ">Footprint Analysis</h2>
            <div>
              <ul class="list-group list-group-flush">
                <div class="row d-flex align-items-center border totalbox">
                  <div class="col-12 col-md-6 border-end">
                    <li class="list-group-item fs-3 border-0">
                      Total Footprint: <span id="totalFootprint" class="text-center"><%= mines.result.totalFootprint %> tCO<sub>2e</sub></span>
                    </li>
                  </div>
                  <div class="col-12 col-md-6">
                    <div id="totalChart"></div>
                  </div>
                </div>
                <!-- Coal -->
                <li class="list-group coalbox">
                  <div class="row d-flex align-items-center border">
                    <div class="col-12 col-md-6 p-0 border-end">
                      <div class="card border-0">
                        <div class="card-header fs-5">
                          Combustion FootPrint: <span id="coalFootprint"><%= mines.result.coalFootprint %> tCO<sub>2e</sub></span>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            Lignite: <span id="lignite"><%= mines.factors.coalType.lignite %> kg.</span>
                          </li>
                          <li class="list-group-item">
                            Sub-Bituminous: <span id="subbitu"><%= mines.factors.coalType.subbitu %> kg.</span>
                          </li>
                          <li class="list-group-item">
                            Bituminous: <span id="bitu"><%= mines.factors.coalType.bitu %> kg.</span>
                          </li>
                          <li class="list-group-item">
                            Anthracite: <span id="anthra"><%= mines.factors.coalType.anthra %> kg.</span>
                          </li>
                          <li class="list-group-item text-center">
                            Total Quantity: <span id="totalCoalQuantity"><%= mines.factors.coalType.anthra + mines.factors.coalType.bitu + mines.factors.coalType.subbitu + mines.factors.coalType.lignite %> kg.</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div id="coalChart"></div>
                    </div>
                  </div>
                </li>
                <!-- Electricity -->
                <li class="list-group elecbox">
                  <div class="card">
                    <div class="card-header fs-5">
                      Electricity FootPrint: <span id="electricityFootprint"><%= mines.result.electricityFootprint %> tCO<sub>2e</sub></span>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        Electricity Consumed: <span id="electricityConsume"><%= mines.factors.electricityConsume %> kWh.</span>
                      </li>
                      <li class="list-group-item">
                        Emission Factor: <span id="eFactor"><%= mines.factors.eFactor %></span>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Transport -->
                <li class="list-group transbox">
                  <div class="card">
                    <div class="card-header fs-5">
                      Transport FootPrint: <span id="transportFootprint"><%= mines.result.transportFootprint %> tCO<sub>2e</sub></span>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        Distance travelled through Diesel: <span id="ddistance"><%= mines.factors.fuelUse.ddistance %> km.</span>
                      </li>
                      <li class="list-group-item">
                        Distance travelled through Petrol: <span id="pdistance"><%= mines.factors.fuelUse.pdistance %> km.</span>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Deforestation -->
                <li class="list-group deforestationbox">
                  <div class="card">
                    <div class="card-header fs-5">
                      Deforestation FootPrint: <span id="deforestationFootprint"><%= mines.result.deforestationFootprint %> tCO<sub>2e</sub></span>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        Deforested Area: <span id="deforestedArea"><%= mines.factors.deforestedArea %> hectares.</span>
                      </li>
                      <li class="list-group-item d-inline">
                        Carbon stock per hectare: <span id="cStock"><%= mines.factors.cStock %></span>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          
                
          </div>
    </div>
</div>
<div class="conatiner mt-4">
  <div class="row text-center">
  
    <div class="col">
      <form action="/index/<%= mines._id%>?_method=DELETE" method="post" class="d-inline me-3">
        <button class="btn btn-danger indicator">Delete</button>
      </form>
    </div>
  
    <div class="col">
      <a href="/index/<%= mines._id%>/edit" class="me-3"><button class="btn btn-success indicator">Edit</button></a>
    </div>

    <div class="col">
      <a href="/index/<%= mines._id%>/suggestions" class="me-3"><button class="btn btn-warning indicator">Suggestions</button></a>
    </div>
  </div>
</div>
</div>
<style>
    svg{
        margin-bottom: 5px;
    }
    .indicator{
      width: 100%;
    }
    .rect{
      width: auto;
    }
    .information, .loc{
      height: 100%;
    }
    .footPrintBox{
      height: 100%;
    }
    input{      
      color: rgb(0, 148, 0);
      text-align: center;
      padding: 0;
    }
    .totalbox input{
      width: 100%;
    }
    .list-group-item{
      font-weight: bold;
    }

    .mineinfo{
      font-size: 2.2rem;
      color: orange;
      -webkit-text-stroke: 0.7px black;
      font-weight: bold;
    }

    .goback{
      position: fixed;
      margin-left: 20px;
      margin-top: 20px;
      width: 120px;
    }

    li span{
      color: darkgreen;
    }

    .slidebox button{
      font-size: larger;
      height: 40px;
      width: 100%;
      font-weight: bold;
    }

    .slidebox button:hover{
      background-color: rgb(255, 255, 220);
    }

    .btnactive{
      background-color: orange;
      pointer-events: none;
    }

    .hidden{
      display: none;
    }


    .displaypage{
      display: block;
    }

    .card-header{
      font-weight: bolder;
    }
</style>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  // Get the values from the elements
  let lignite = parseFloat(document.querySelector('#lignite').innerText) || 0;
  let subbitu = parseFloat(document.querySelector('#subbitu').innerText) || 0;
  let bitu = parseFloat(document.querySelector('#bitu').innerText) || 0;
  let anthra = parseFloat(document.querySelector('#anthra').innerText) || 0;
  // Load the Google Charts library
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    // Prepare the data
    var data = google.visualization.arrayToDataTable([
      ['Type of Coal', 'Quantity'],
      ['Lignite', lignite],
      ['Sub-Bituminous', subbitu],
      ['Bituminous', bitu],
      ['Anthracite', anthra]
    ]);
    // Set chart options
    var options = {
      title: 'Coal Types Distribution',
      is3D: true,
    };
    // Draw the chart
    var chart = new google.visualization.PieChart(document.getElementById('coalChart'));
    chart.draw(data, options);
  }
</script>
<script>
  let coalFootprint = parseFloat(document.querySelector('#coalFootprint').innerText) || 0;
  let electricityFootprint = parseFloat(document.querySelector('#electricityFootprint').innerText) || 0;
  let transportFootprint = parseFloat(document.querySelector('#transportFootprint').innerText) || 0;
  let deforestationFootprint = parseFloat(document.querySelector('#deforestationFootprint').innerText) || 0;
  // Load the Google Charts library
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    // Prepare the data
    var data = google.visualization.arrayToDataTable([
      ['Type of Coal', 'Quantity'],
      ['Combustion Footprint', coalFootprint],
      ['Electricity Footprint', electricityFootprint],
      ['Transport Footprint', transportFootprint],
      ['Deforestation Footprint', deforestationFootprint]
    ]);
    // Set chart options
    var options = {
      title: 'Carbon Footprint Distribution',
      is3D: true,
    };
    // Draw the chart
    var chart = new google.visualization.PieChart(document.getElementById('totalChart'));
    chart.draw(data, options);
  }
</script>


<script>
  const infobtn = document.querySelector('.infobtn');
  const anbtn = document.querySelector('.anbtn')
  const infopage = document.querySelector('.information')
  const footpage = document.querySelector('.footprintBox')

  if(infobtn.classList.contains('btnactive'))
  {
    infopage.classList.add('displaypage');
  }

  if(anbtn.classList.contains('btnactive'))
  {
    footpage.classList.add('displaypage');
  }

  infobtn.addEventListener("click", ()=>{
    infobtn.classList.add('btnactive');
    anbtn.classList.remove('btnactive')
    infopage.classList.add('displaypage');
    footpage.classList.remove('displaypage');
  })

  anbtn.addEventListener("click", ()=>{
    anbtn.classList.add('btnactive');
    infobtn.classList.remove('btnactive')
    footpage.classList.add('displaypage');
    infopage.classList.remove('displaypage');
  })
</script>
